<!-- <div class="font-normal text-4xl mb-10" style="margin-left: 86px;color:#5b21b6">
    Salon For Women
</div>

<div tuiCarouselButtons class="flex items-center m-6">
    <button
        tuiIconButton
        icon="tuiIconChevronLeftLarge"
        title="Previous"
        (click)="carousel.prev()"
    ></button>
    <tui-carousel #carousel class="carousel">
        <tui-island *tuiItem size="l" textAlign="center">
            <div class="flex">
                <tui-island size="l" class="mr-4" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
                <tui-island size="l" class="mr-4" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
                <tui-island size="l" class="mr-4" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
                <tui-island size="l" class="mr-4" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
            </div>
        </tui-island>
    </tui-carousel>
    <button
        tuiIconButton
        icon="tuiIconChevronRightLarge"
        title="Next"
        (click)="carousel.next()"
    ></button>
</div>



<div class="font-normal text-4xl" style="margin-left: 86px;color:#5b21b6">
    Salon For Women
</div>

<div tuiCarouselButtons class="flex items-center m-6">
    <button
        tuiIconButton
        icon="tuiIconChevronLeftLarge"
        title="Previous"
        (click)="carousel.prev()"
    ></button>
    <tui-carousel #carousel class="carousel">
        <tui-island *tuiItem size="l" textAlign="center">
            <div class="flex">
                <tui-island size="l" class="mr-4" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
                <tui-island size="l" class="mr-4" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
                <tui-island size="l" class="mr-4" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
                <tui-island size="l" class="mr-4" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
            </div>
        </tui-island>
    </tui-carousel>
    <button
        tuiIconButton
        icon="tuiIconChevronRightLarge"
        title="Next"
        (click)="carousel.next()"
    ></button>
</div>

 -->




<ng-container>
    <div class="m-4 mb-8">
        <div class="font-normal text-4xl mb-4 ml-4" style="color:#5b21b6">
            Salon For Men
        </div>
        <div class="flex overflow-x-scroll" style="width: 80vw;">
            <div class="mr-4" style="width: 430px;max-width: 430px;min-width: 430px;">
                <tui-island size="l" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_64/t_high_res_template/images/growth/home-screen/1609757629780-2b2187.png"/>
                                <!-- <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon> -->
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
            </div>
        </div>
    </div>


    <div class="m-4 mb-8">
        <div class="font-normal text-4xl mb-4 ml-4" style="color:#5b21b6">
            Salon For Women
        </div>
        <div id="gallery" class="flex overflow-x-scroll" style="width: 80vw;">
            <div class="mr-4" style="width: 430px;max-width: 430px;min-width: 430px;">
                <tui-island size="l" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <img src="https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_64/t_high_res_template/images/growth/home-screen/1609757635235-1a139e.png"/>
                                <!-- <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon> -->
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
            </div>
        </div>
    </div>



    <div class="m-4 mb-8">
        <div class="font-normal text-4xl mb-4 ml-4" style="color:#5b21b6">
            Plumber
        </div>
        <div id="gallery" class="flex overflow-x-scroll" style="width: 80vw;">
            <div class="mr-4" style="width: 430px;max-width: 430px;min-width: 430px;">
                <tui-island size="l" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
            </div>

    
            <div class="mr-4" style="width: 430px;max-width: 430px;min-width: 430px;">
                <tui-island size="l" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
            </div>
        </div>
    </div>


    <div class="m-4 mb-8">
        <div class="font-normal text-4xl mb-4 ml-4" style="color:#5b21b6">
            Electrician
        </div>
        <div id="gallery" class="flex overflow-x-scroll" style="width: 80vw;">
            <div class="mr-4" style="width: 430px;max-width: 430px;min-width: 430px;">
                <tui-island size="l" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
            </div>

    
            <div class="mr-4" style="width: 430px;max-width: 430px;min-width: 430px;">
                <tui-island size="l" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
            </div>
        </div>
    </div>


    <div class="m-4 mb-8">
        <div class="font-normal text-4xl mb-4 ml-4" style="color:#5b21b6">
            Carpenter
        </div>
        <div id="gallery" class="flex overflow-x-scroll" style="width: 80vw;">
            <div class="mr-4" style="width: 430px;max-width: 430px;min-width: 430px;">
                <tui-island size="l" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
            </div>

    
            <div class="mr-4" style="width: 430px;max-width: 430px;min-width: 430px;">
                <tui-island size="l" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
            </div>
        </div>
    </div>


    <div class="m-4 mb-8">
        <div class="font-normal text-4xl mb-4 ml-4" style="color:#5b21b6">
            Gardner
        </div>
        <div id="gallery" class="flex overflow-x-scroll" style="width: 80vw;">
            <div class="mr-4" style="width: 430px;max-width: 430px;min-width: 430px;">
                <tui-island size="l" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
            </div>

    
            <div class="mr-4" style="width: 430px;max-width: 430px;min-width: 430px;">
                <tui-island size="l" textAlign="center">
                    <div class="tui-island__content">
                        <figure class="tui-island__figure">
                            <div class="some-figure flex items-center justify-center">
                                <mat-icon style="font-size: 30px;color: blueviolet;" class="mr-6">people_outline</mat-icon>
                            </div>
                        </figure>
                        <div>
                            <h3 class="tui-island__title">Debit card</h3>
                            <p class="tui-island__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                            <button
                                tuiButton
                                type="button"
                                appearance="flat"
                                size="m"
                                class="tui-island__footer-button"
                            >
                                View Details
                            </button>
                        </div>
                    </div>
                </tui-island>
            </div>
        </div>
    </div>
</ng-container>