<div class="ml-4 flex w-8/12 mb-4 border-b border-gray-200 pb-2">
    <div class="w-3/12 mb-6 font-medium text-4xl tracking-normal text-blue-800">
        Bank Details
    </div>

    <!-- <ng-container *ngIf="(kycData?.ageProof === true && kycData?.IdProof === true) && kycData?.addressProof === true;else completed" >
        <div class="ml-5 mb-3 w-full font-semibold text-xl flex items-center">
            <div class="w-full font-bold text-2xl flex items-center"><div class="w-auto px-4 py-1 bg-blue-100 rounded-2xl text-blue-600 text-xs flex ml-4 items-center"><span class="p-1 bg-blue-500 rounded-full mr-2"></span> VERIFIED</div></div>
        </div>
    </ng-container> -->

    <!-- <ng-template #completed> -->
        <div class="ml-5 mb-3 w-full font-semibold text-xl flex items-center">
            <div class="w-full font-bold text-2xl flex items-center"><div class="w-auto px-4 py-1 bg-green-100 rounded-2xl text-green-700 text-xs flex ml-4 items-center"><span class="p-1 bg-green-600 rounded-full mr-2"></span> COMPLETED</div></div>
        </div>
    <!-- </ng-template> -->
    <button
        class="mr-6"
        tuiButton
        type="submit"  
        appearance="primary">
        Add bank Account
    </button>
</div>