<div class="w-full m-4">
    <form class="w-4/12" [formGroup]="residenceDetailsForm">
        <label tuiLabel label="House No. *">
            <tui-input 
                    tuiTextfieldSize="l"
                    formControlName="houseNo"
                    [tuiTextfieldLabelOutside]="true"
                >
                    
                </tui-input>
                <tui-field-error class="mb-5" formControlName="houseNo"></tui-field-error>
        </label>

        <label tuiLabel label="Street/Lane/Area *">
            <tui-input 
                    tuiTextfieldSize="l"
                    formControlName="street"
                    [tuiTextfieldLabelOutside]="true"
                >
                    
                </tui-input>
                <tui-field-error class="mb-5" formControlName="street"></tui-field-error>
        </label>

        <label tuiLabel label="Landmark *">
            <tui-input 
                    tuiTextfieldSize="l"
                    formControlName="landmark"
                    [tuiTextfieldLabelOutside]="true"
                >
                    
                </tui-input>
                <tui-field-error class="mb-5" formControlName="landmark"></tui-field-error>
        </label>

        <label tuiLabel label="Pincode *">
            <tui-input 
                    tuiTextfieldSize="l"
                    formControlName="pincode"
                    [tuiTextfieldLabelOutside]="true"
                >
                    
                </tui-input>
                <tui-field-error class="mb-5" formControlName="pincode"></tui-field-error>
        </label>

        <label tuiLabel label="District *">
            <tui-input 
                    tuiTextfieldSize="l"
                    formControlName="district"
                    [tuiTextfieldLabelOutside]="true"
                >
                    
                </tui-input>
                <tui-field-error class="mb-5" formControlName="district"></tui-field-error>
        </label>

        <label tuiLabel label="State *">
            <tui-input 
                    tuiTextfieldSize="l"
                    formControlName="state"
                    [tuiTextfieldLabelOutside]="true"
                >
                    
                </tui-input>
                <tui-field-error class="mb-5" formControlName="state"></tui-field-error>
        </label>

        <label tuiLabel label="Residence Years *">
            <tui-input 
                    tuiTextfieldSize="l"
                    formControlName="residenceYears"
                    [tuiTextfieldLabelOutside]="true"
                >
                    
            </tui-input>
            <tui-field-error class="mb-5" formControlName="residenceYears">Required</tui-field-error>
        </label>

       
        <label tuiLabel label="Ownership of the Residence *">
            <tui-select 
                    tuiTextfieldSize="l"
                    formControlName="ownership"
                    [tuiTextfieldLabelOutside]="true"
                >
                <tui-data-list-wrapper
                *tuiDataList
                [items]="ownership"
            ></tui-data-list-wrapper>
            </tui-select>
            <tui-field-error class="mb-5" formControlName="ownership"></tui-field-error>
        </label>
        <button
            [disabled]="residenceDetailsForm.invalid"
            (click)="update()"
            class="mb-5"
            tuiButton
            type="submit"
            appearance="primary">
            Update
        </button>
    </form>
</div>