<ng-container>
    <div class="w-full h-screen grid grid-cols-12">
        <!-- Workflow steps -->
        <div class="col-span-2 h-full">
            <div class="flex justify-center h-1/6 items-center font-extrabold 2xl:text-3xl text-2xl font-mono tracking-wide text-blue-800">
                Authentication
            </div>

            <div (click)="onContentChange('personalDetails')" [ngClass]="{'text-blue-800' : authenticationSteps==='personalDetails'}" [style.background-color]="authenticationSteps === 'personalDetails' ? '#f3f9fd' : ''" class="content text-gray-500 pt-2 pb-2 cursor-pointer text-xl font-light font-serif text-start flex justify-center mt-10 ml-4 mr-4">
                Personal Details
            </div>

            <div (click)="onContentChange('familyDetails')" [ngClass]="{'text-blue-800' : authenticationSteps==='familyDetails'}" [style.background-color]="authenticationSteps === 'familyDetails' ? '#f3f9fd' : ''" class="content text-gray-500 pt-2 pb-2 cursor-pointer text-xl font-light font-serif text-start flex justify-center mt-10 ml-4 mr-4">
                Family Details
            </div>

            <div (click)="onContentChange('residenceDetails')" [ngClass]="{'text-blue-800' : authenticationSteps==='residenceDetails'}" [style.background-color]="authenticationSteps === 'residenceDetails' ? '#f3f9fd' : ''" class="content text-gray-500 pt-2 pb-2 cursor-pointer text-xl font-light font-serif text-start flex justify-center mt-10 ml-4 mr-4">
                Residence Details
            </div>

            <div (click)="onContentChange('workDetails')" [ngClass]="{'text-blue-800' : authenticationSteps==='workDetails'}" [style.background-color]="authenticationSteps === 'workDetails' ? '#f3f9fd' : ''" class="content text-gray-500 pt-2 pb-2 cursor-pointer text-xl font-light font-serif text-start flex justify-center mt-10 ml-4 mr-4">
                Work Details
            </div>

            <div (click)="onContentChange('kyc')" [ngClass]="{'text-blue-800' : authenticationSteps==='kyc'}" [style.background-color]="authenticationSteps === 'kyc' ? '#f3f9fd' : ''" class="content text-gray-500 pt-2 pb-2 cursor-pointer text-xl font-light font-serif text-start flex justify-center mt-10 ml-4 mr-4">
                KYC
            </div>

            <div (click)="onContentChange('bankDetails')" [ngClass]="{'text-blue-800' : authenticationSteps==='bankDetails'}" [style.background-color]="authenticationSteps === 'bankDetails' ? '#f3f9fd' : ''" class="content text-gray-500 pt-2 pb-2 cursor-pointer text-xl font-light font-serif text-start flex justify-center mt-10 ml-4 mr-4">
                Bank Details
            </div>

            <div (click)="onContentChange('activate')" [ngClass]="{'text-blue-800' : authenticationSteps==='activate'}" [style.background-color]="authenticationSteps === 'activate' ? '#f3f9fd' : ''" class="content text-gray-500 pt-2 pb-2 cursor-pointer text-xl font-light font-serif text-start flex justify-center mt-10 ml-4 mr-4">
                Activate
            </div>
        </div>

        <!-- <div class="col-span-2"></div> -->

        <!-- Main pages -->
        <div class="col-span-10">
            <ng-container>
                <div class="h-1/6">
                    <div class="flex items-center p-4 h-full">
                        <div class="w-28 h-28 border-4 border-gray-400 rounded-full bg">
                            <mat-icon style="color: #9ca3af;font-size: 104px;">person_outline</mat-icon>
                        </div>
                        <div *ngIf="(workerDetail$ |async) as data">
                            <div class="flex font-light text-black text-lg ml-2">
                                <div class="text-gray-500 text-base font-semibold pr-2">
                                    Name:
                                </div>
                                {{workerDetail.firstName}} {{workerDetail.lastName}}
                            </div>
                            <div class="flex font-light text-black text-lg ml-2">
                                <div class="text-gray-500 text-base font-semibold pr-2">
                                    Username:
                                </div>
                                {{workerDetail.username}}
                            </div>
                            <div class="flex font-light text-black text-lg ml-2">
                                <div class="text-gray-500 text-base font-semibold pr-2">
                                    Mobile Number:
                                </div>
                                {{workerDetail.mobileNumber}}
                            </div>
                            <div class="flex font-light text-black text-lg ml-2">
                                <div class="text-gray-500 text-base font-semibold pr-2">
                                    Status:
                                </div>
                                <ng-container *ngIf="workerDetail.isActivated==true">
                                    <div class="w-full font-bold text-2xl flex items-center"><div class="w-auto px-4 py-1 bg-green-100 rounded-2xl text-green-600 text-xs flex items-center"><span class="p-1 bg-green-500 rounded-full mr-2"></span> ACTIVATED</div></div>
                                </ng-container>
                                <ng-container *ngIf="workerDetail.isActivated==null">
                                    <div class="w-full font-bold text-2xl flex items-center"><div class="w-auto px-4 py-1 bg-blue-100 rounded-2xl text-blue-600 text-xs flex items-center"><span class="p-1 bg-blue-500 rounded-full mr-2"></span> CREATED</div></div>
                                </ng-container>
                                <ng-container *ngIf="workerDetail.isActivated==false">
                                    <div class="w-full font-bold text-2xl flex items-center"><div class="w-auto px-4 py-1 bg-red-100 rounded-2xl text-red-600 text-xs flex items-center"><span class="p-1 bg-red-500 rounded-full mr-2"></span> REJECTED</div></div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- Authentication Steps -->
            <ng-container *ngIf="authenticationSteps === 'personalDetails'">
                <personal-details (updatestep)="nextStep($event)"></personal-details>
            </ng-container>

            <ng-container *ngIf="authenticationSteps === 'familyDetails'">
                <family-details (updatestep)="nextStep($event)"></family-details>
            </ng-container>

            <ng-container *ngIf="authenticationSteps === 'residenceDetails'">
                <residence-details (updatestep)="nextStep($event)"></residence-details>
            </ng-container>

            <ng-container *ngIf="authenticationSteps === 'workDetails'">
                <work-details (updatestep)="nextStep($event)"></work-details>
            </ng-container>

            <ng-container *ngIf="authenticationSteps === 'kyc'">
                <kyc (updatestep)="nextStep($event)"></kyc>
            </ng-container>

            <ng-container *ngIf="authenticationSteps === 'bankDetails'">
                <bank-details (updatestep)="nextStep($event)"></bank-details>
            </ng-container>

            <ng-container *ngIf="authenticationSteps === 'activate'">
                <activate (updatestep)="nextStep($event)"></activate>
            </ng-container>
        </div>
    </div>
</ng-container>