<ng-container>
    <div class="w-full m-4">
        <form class="w-4/12" [formGroup]="personalDetailsForm">
            
            <label tuiLabel label="Salutation *">
                <tui-select 
                        tuiTextfieldSize="l"
                        formControlName="salutation"
                        [tuiTextfieldLabelOutside]="true"
                    >
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="salutation"
                    ></tui-data-list-wrapper>
                </tui-select>
                <tui-field-error class="mb-5" formControlName="salutation"></tui-field-error>
            </label>

            <label tuiLabel label="First Name *">
                <tui-input 
                        class="mb-5"
                        tuiTextfieldSize="l"
                        formControlName="firstName"
                        [tuiTextfieldLabelOutside]="true"
                        [readOnly]="true"
                    >
                        
                    </tui-input>
            </label>
            
            <label tuiLabel label="Last Name *">
                <tui-input 
                        class="mb-5"
                        tuiTextfieldSize="l"
                        formControlName="lastName"
                        [tuiTextfieldLabelOutside]="true"
                        [readOnly]="true"
                    >
                        
                    </tui-input>
            </label>

            <label tuiLabel label="Mobile Number *">
                <tui-input 
                        class="mb-5"
                        tuiTextfieldSize="l"
                        formControlName="mobileNumber"
                        [tuiTextfieldLabelOutside]="true"
                        [readOnly]="true"
                    >
                        
                    </tui-input>
            </label>
            
            <label tuiLabel label="Alternate Mobile Number">
                <tui-input 
                        tuiTextfieldSize="l"
                        formControlName="alternateMobileNumber"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        
                    </tui-input>
                    <tui-field-error class="mb-5" formControlName="alternateMobileNumber"></tui-field-error>
            </label>

            <label tuiLabel label="Date Of Birth *">
                <tui-input-date 
                        tuiTextfieldSize="l"
                        formControlName="dateOfBirth"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        
                    </tui-input-date>
                    <tui-field-error class="mb-5" formControlName="dateOfBirth"></tui-field-error>
            </label>

            <label tuiLabel label="Gender *">
                <tui-select 
                        tuiTextfieldSize="l"
                        formControlName="gender"
                        [tuiTextfieldLabelOutside]="true"
                    >
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="gender"
                    ></tui-data-list-wrapper>
                </tui-select>
                <tui-field-error class="mb-5" formControlName="gender"></tui-field-error>
            </label>

            <label tuiLabel label="Martial Status *">
                <tui-select 
                        tuiTextfieldSize="l"
                        formControlName="martialStatus"
                        [tuiTextfieldLabelOutside]="true"
                    >
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="martialStatus"
                    ></tui-data-list-wrapper>
                </tui-select>
                <tui-field-error class="mb-5" formControlName="martialStatus"></tui-field-error>
            </label>

            <label tuiLabel label="Educational Qualification *">
                <tui-select 
                        tuiTextfieldSize="l"
                        formControlName="educationalQualification"
                        [tuiTextfieldLabelOutside]="true"
                    >
                    <tui-data-list-wrapper
                        *tuiDataList
                        [items]="educationalQualification"
                    ></tui-data-list-wrapper>
                </tui-select>
                <tui-field-error class="mb-5" formControlName="educationalQualification"></tui-field-error>
            </label>

            <label tuiLabel label="Nationality *">
                <tui-input 
                        tuiTextfieldSize="l"
                        formControlName="nationality"
                        [tuiTextfieldLabelOutside]="true"
                    >
                        
                    </tui-input>
                <tui-field-error class="mb-5" formControlName="nationality"></tui-field-error>
            </label>
            <button
            [disabled]="personalDetailsForm.invalid"
                (click)="update()"
                class="mb-5"
                tuiButton
                type="submit"
                appearance="primary">
                Update
            </button>
        </form>
    </div>
</ng-container>