.icon{
    font-size: 39px;
    // color: #c7f5fd;
}

.content-text{
    font-size: 20px;
    margin-left: 48px;
    padding-top: 8px;
}

.side-content:hover{
    .icon{
    color: #6366f1;
    }
    transition: transform 400ms,opacity 400ms;
    // transform: translate(10px,-10px);
    transform: scale(1.1);
    color: #6366f1;
}
