.icon{
    font-size: 29px;
}


.content-text{
    font-size: 20px;
    margin-left: 40px;
    padding-top: 1px;
}

.side-content:hover{
    .icon{
    color: #1e40af;
    }
    transition: transform 400ms,opacity 400ms;
    // transform: translate(5px,-5px);
    // transform: scale(1.3);
    // opacity: 1;
    // background-color: #d1fdff;
    color: #1e40af;
}
.logout :hover{
    color: red;
    .out{
    color: red;
    }
}

.logout{
    position: absolute;
    bottom: 0px;
    margin-bottom: 30px;
}
